.container {
    background-color: #ffc300;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.botones {
    margin-left: 11em;
    margin-top: -5em;
}

span {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

button {
    margin-right: 1.5em;
    padding-left: 0.75em;
    padding-top: 1.5em;
    text-shadow: 1px 1px 3px black;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    padding-bottom: 3px;
}

.logo {
    margin-right: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

img {
    max-width: 80%;
    max-height: 80%;
    padding-right: 1em;
    margin-left: 2em;
    margin-top: 5px;
}

.mat-toolbar {
    color: rgba(0, 0, 0, 0.87);
    background: transparent;
}

.mat-mdc-menu-panel {
    --mat-menu-container-shape: 4px;
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    outline: 0;
    border-radius: var(--mat-menu-container-shape);
    background-color: #ffc300;
    will-change: transform, opacity;
}